# Rust
target/
**/*.rs.bk
Cargo.lock

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraformrc
terraform.rc
.terraform.lock.hcl

# Ansible
*.retry

# IDE
.idea/
.vscode/

# AWS
.aws/

# Build artifacts
terraform/lambda/lambda_function.zip

# Env
.env